Repository coze-dev/cozeloop-js: changes, and which Codecov flags are due for each by the changed paths.
All: @cozeloop/ai, @cozeloop/langchain

ci: remove hard code git user
  .github/workflows/ci.yaml
Due: none

[feat] [tools] add cr btn in sync-pr of ci-tools (#18)
  .github/workflows/ci.yaml
  packages/ci-tools/CHANGELOG.md
  packages/ci-tools/package.json
  packages/ci-tools/src/index.ts
  packages/ci-tools/src/lark/sync-pr.ts
Due: none

fix(cozeloop-ai): jsonwebtoken cjs in esm
  packages/cozeloop-ai/package.json
  packages/cozeloop-ai/src/auth/oauth-jwt.ts
Due: @cozeloop/ai

feat(cozeloop-ai): bump to 0.1.0
  packages/cozeloop-ai/CHANGELOG.md
  packages/cozeloop-ai/package.json
Due: @cozeloop/ai

[feat] [sdk] bump @cozeloop/ai to 0.0.10 (#20)
  packages/cozeloop-ai/CHANGELOG.md
  packages/cozeloop-ai/package.json
  packages/cozeloop-ai/src/auth/oauth-jwt.ts
Due: @cozeloop/ai

feat(cozeloop-ai): ptaas trace
  packages/cozeloop-ai/__tests__/__mock__/ptaas-toolcall-stream.txt
  packages/cozeloop-ai/__tests__/__mock__/ptaas.ts
  packages/cozeloop-ai/__tests__/prompt/ptaas.test.ts
  packages/cozeloop-ai/__tests__/tracer/propagation.test.ts
  packages/cozeloop-ai/src/index.ts
  packages/cozeloop-ai/src/prompt/collect-stream.ts
  packages/cozeloop-ai/src/prompt/index.ts
  packages/cozeloop-ai/src/prompt/ptaas.ts
  packages/cozeloop-ai/src/prompt/trace.ts
  packages/cozeloop-ai/src/prompt/types.ts
  packages/cozeloop-ai/src/tracer/index.ts
  packages/cozeloop-ai/src/tracer/utils/propagation/index.ts
  packages/cozeloop-ai/vitest.config.ts
Due: @cozeloop/ai

feat(cozeloop-ai): ptaas output
  packages/cozeloop-ai/__tests__/prompt/ptaas.test.ts
  packages/cozeloop-ai/__tests__/prompt/trace.test.ts
  packages/cozeloop-ai/src/prompt/ptaas.ts
  packages/cozeloop-ai/src/prompt/trace.ts
Due: @cozeloop/ai

feat(cozeloop-ai): bump to 0.0.11
  packages/cozeloop-ai/CHANGELOG.md
  packages/cozeloop-ai/README.md
  packages/cozeloop-ai/README.zh-CN.md
  packages/cozeloop-ai/package.json
  packages/cozeloop-ai/vitest.config.ts
Due: @cozeloop/ai

chore(cozeloop-ai): change log
  packages/cozeloop-ai/CHANGELOG.md
Due: @cozeloop/ai

[feat] [sdk] @cozeloop/ai@0.0.11 with PTaaS trace and output support (#21)
  packages/cozeloop-ai/CHANGELOG.md
  packages/cozeloop-ai/README.md
  packages/cozeloop-ai/README.zh-CN.md
  packages/cozeloop-ai/__tests__/__mock__/ptaas-toolcall-stream.txt
  packages/cozeloop-ai/__tests__/__mock__/ptaas.ts
  packages/cozeloop-ai/__tests__/prompt/ptaas.test.ts
  packages/cozeloop-ai/__tests__/prompt/trace.test.ts
  packages/cozeloop-ai/__tests__/tracer/propagation.test.ts
  packages/cozeloop-ai/package.json
  packages/cozeloop-ai/src/index.ts
  packages/cozeloop-ai/src/prompt/collect-stream.ts
  packages/cozeloop-ai/src/prompt/index.ts
  packages/cozeloop-ai/src/prompt/ptaas.ts
  packages/cozeloop-ai/src/prompt/trace.ts
  packages/cozeloop-ai/src/prompt/types.ts
  packages/cozeloop-ai/src/tracer/index.ts
  packages/cozeloop-ai/src/tracer/utils/propagation/index.ts
Due: @cozeloop/ai

feat(cozeloop-langchain): add graph span type for LangGraph Node
  packages/cozeloop-langchain/__tests__/callback/utils/chain.test.ts
  packages/cozeloop-langchain/src/callbacks/callback-handler.ts
  packages/cozeloop-langchain/src/callbacks/constants.ts
  packages/cozeloop-langchain/src/callbacks/utils/chain.ts
  packages/cozeloop-langchain/src/callbacks/utils/index.ts
Due: @cozeloop/langchain

feat(cozeloop-langchain): peer with langchain v1
  packages/cozeloop-langchain/package.json
Due: @cozeloop/langchain

feat(cozeloop-langchain): bump to 0.0.3
  packages/cozeloop-langchain/CHANGELOG.md
  packages/cozeloop-langchain/README.md
  packages/cozeloop-langchain/package.json
Due: @cozeloop/langchain

[feat] [sdk] @cozeloop/langchain@0.0.3 LangGraph span type and peer with langchain v1 (#22)
  packages/cozeloop-langchain/CHANGELOG.md
  packages/cozeloop-langchain/README.md
  packages/cozeloop-langchain/__tests__/callback/utils/chain.test.ts
  packages/cozeloop-langchain/package.json
  packages/cozeloop-langchain/src/callbacks/callback-handler.ts
  packages/cozeloop-langchain/src/callbacks/constants.ts
  packages/cozeloop-langchain/src/callbacks/utils/chain.ts
  packages/cozeloop-langchain/src/callbacks/utils/index.ts
Due: @cozeloop/langchain

feat(ci-tools): replace zod with arktype
  packages/ci-tools/package.json
  packages/ci-tools/src/lark/schema.ts
Due: none

feat(cozeloop-langchain): replace zod with arktype
  packages/cozeloop-langchain/__tests__/__mock__/custom-llm-graph.ts
  packages/cozeloop-langchain/__tests__/__mock__/graph-agent.ts
  packages/cozeloop-langchain/__tests__/otel/schema.test.ts
  packages/cozeloop-langchain/package.json
  packages/cozeloop-langchain/src/otel/index.ts
  packages/cozeloop-langchain/src/otel/schema.ts
Due: @cozeloop/langchain

feat: rush update
  common/config/rush/pnpm-lock.yaml
  cspell.json
Due: none

feat: update readme
  packages/ci-tools/README.md
  packages/cozeloop-langchain/README.md
Due: @cozeloop/langchain

[feat] [sdk] zod to arktype (#23)
  common/config/rush/pnpm-lock.yaml
  cspell.json
  packages/ci-tools/README.md
  packages/ci-tools/package.json
  packages/ci-tools/src/lark/schema.ts
  packages/cozeloop-langchain/README.md
  packages/cozeloop-langchain/__tests__/__mock__/custom-llm-graph.ts
  packages/cozeloop-langchain/__tests__/__mock__/graph-agent.ts
  packages/cozeloop-langchain/__tests__/otel/schema.test.ts
  packages/cozeloop-langchain/package.json
  packages/cozeloop-langchain/src/otel/index.ts
  packages/cozeloop-langchain/src/otel/schema.ts
Due: @cozeloop/langchain

chore: sort vscode setting and mv cspell words
  .vscode/settings.json
  cspell.json
Due: none

fix(cozeloop-langchain): tool mock
  packages/cozeloop-langchain/__tests__/__mock__/custom-llm-graph.ts
  packages/cozeloop-langchain/__tests__/__mock__/graph-agent.ts
Due: @cozeloop/langchain

feat(cozeloop-langchain): langchain v1
  common/config/rush/pnpm-lock.yaml
  packages/cozeloop-langchain/__tests__/__mock__/custom-chat-model.ts
  packages/cozeloop-langchain/__tests__/__mock__/custom-llm-graph.ts
  packages/cozeloop-langchain/__tests__/__mock__/graph-agent.ts
  packages/cozeloop-langchain/__tests__/__mock__/index.ts
  packages/cozeloop-langchain/__tests__/__mock__/react-agent.ts
  packages/cozeloop-langchain/__tests__/callback/callback-handler.test.ts
  packages/cozeloop-langchain/package.json
Due: @cozeloop/langchain

chore: rush.json and mdlint settings
  .vscode/settings.json
  rush.json
Due: none

docs: readme
  README.md
  README.zh-CN.md
Due: none

chore: update happy-dom
  common/config/rush/pnpm-lock.yaml
  config/vitest-config/package.json
Due: none

[feat] [sdk] adapt for langchain v1 (#25)
  .vscode/settings.json
  README.md
  README.zh-CN.md
  common/config/rush/pnpm-lock.yaml
  config/vitest-config/package.json
  packages/cozeloop-langchain/__tests__/__mock__/custom-chat-model.ts
  packages/cozeloop-langchain/__tests__/__mock__/custom-llm-graph.ts
  packages/cozeloop-langchain/__tests__/__mock__/graph-agent.ts
  packages/cozeloop-langchain/__tests__/__mock__/index.ts
  packages/cozeloop-langchain/__tests__/__mock__/react-agent.ts
  packages/cozeloop-langchain/__tests__/callback/callback-handler.test.ts
  packages/cozeloop-langchain/package.json
  rush.json
Due: @cozeloop/langchain

feat: update rush and pnpm version
  .nvmrc
  common/autoinstallers/rush-commitlint/package.json
  common/autoinstallers/rush-commitlint/pnpm-lock.yaml
  common/autoinstallers/rush-lint-staged/pnpm-lock.yaml
  common/scripts/install-run-rush-pnpm.js
  common/scripts/install-run-rush.js
  common/scripts/install-run-rushx.js
  common/scripts/install-run.js
  rush.json
Due: none

docs: update readme
  README.md
  README.zh-CN.md
Due: none

ci: set node version to 24
  .github/workflows/ci.yaml
  .github/workflows/issue-sync.yaml
  .github/workflows/pr-sync.yaml
Due: none

feat: upgrade @types/node to ^24
  common/autoinstallers/rush-commitlint/package.json
  common/autoinstallers/rush-commitlint/pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
  config/eslint-config/package.json
  config/vitest-config/package.json
  examples/cozeloop-ai-node/package.json
  packages/ci-tools/package.json
  packages/cozeloop-ai/package.json
  packages/cozeloop-langchain/package.json
Due: @cozeloop/ai, @cozeloop/langchain

fix(cozeloop-langchain): build err
  packages/cozeloop-langchain/__tests__/callback/utils/message.test.ts
  packages/cozeloop-langchain/src/callbacks/callback-handler.ts
  packages/cozeloop-langchain/src/callbacks/utils/model.ts
Due: @cozeloop/langchain

[feat] [infra] upgrade rush/pnpm and nodejs version (#26)
  .github/workflows/ci.yaml
  .github/workflows/issue-sync.yaml
  .github/workflows/pr-sync.yaml
  .nvmrc
  README.md
  README.zh-CN.md
  common/autoinstallers/rush-commitlint/package.json
  common/autoinstallers/rush-commitlint/pnpm-lock.yaml
  common/autoinstallers/rush-lint-staged/pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
  common/scripts/install-run-rush-pnpm.js
  common/scripts/install-run-rush.js
  common/scripts/install-run-rushx.js
  common/scripts/install-run.js
  config/eslint-config/package.json
  config/vitest-config/package.json
  examples/cozeloop-ai-node/package.json
  packages/ci-tools/package.json
  packages/cozeloop-ai/package.json
  packages/cozeloop-langchain/__tests__/callback/utils/message.test.ts
  packages/cozeloop-langchain/package.json
  packages/cozeloop-langchain/src/callbacks/callback-handler.ts
  packages/cozeloop-langchain/src/callbacks/utils/model.ts
  rush.json
Due: @cozeloop/ai, @cozeloop/langchain

Path conditions:
  @cozeloop/ai: any of: packages/cozeloop-ai/**, but not: packages/ci-tools
  @cozeloop/langchain: any of: packages/cozeloop-langchain/**, but not: packages/ci-tools
