Repository coze-dev/cozeloop-js: changes, and which Codecov flags are due for each by the changed paths.
All: @cozeloop/ai, @cozeloop/langchain

codecov.yml:

# valid this file: curl --data-binary @codecov.yml https://codecov.io/validate
# reference doc: https://docs.codecov.com/docs/common-recipe-list#set-project-coverage-checks-on-a-pull-request

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

ignore:
  - 'packages/ci-tools'

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

github_checks:
  annotations: false

comment:
  layout: 'header, diff, components, files' # show component info in the PR comment
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: true # [true :: must have a head report to post]
  hide_project_coverage: true # [true :: only show coverage on the git diff aka patch coverage]]

# reference doc: https://docs.codecov.com/docs/components
component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 80%
        threshold: 1%
      - type: patch
        target: 80%
        threshold: 5%

  individual_components:
    - component_id: cozeloop-ai
      name: '@cozeloop/ai'
      paths:
        - packages/cozeloop-ai/**

    - component_id: cozeloop-langchain
      name: '@cozeloop/langchain'
      paths:
        - packages/cozeloop-langchain/**

[ci] [workflow] pr sync (#10)
  .github/workflows/issue-sync.yaml
  .github/workflows/pr-sync.yaml
  codecov.yml
  packages/ci-tools/CHANGELOG.md
  packages/ci-tools/README.md
  packages/ci-tools/__tests__/utils.test.ts
  packages/ci-tools/package.json
  packages/ci-tools/src/lark/index.ts
  packages/ci-tools/src/lark/schema.ts
  packages/ci-tools/src/lark/send-message.ts
  packages/ci-tools/src/lark/sync-pr.ts
  packages/ci-tools/src/lark/utils.ts
  packages/ci-tools/vitest.config.ts
Due: none

fix: variable_defs may be undefined
  packages/cozeloop-ai/src/prompt/utils.ts
Due: @cozeloop/ai

[fix] [sdk] variable_defs may be undefined (#11)
  packages/cozeloop-ai/src/prompt/utils.ts
Due: @cozeloop/ai

ci: adjust notification event
  .github/workflows/issue-sync.yaml
  .github/workflows/pr-sync.yaml
Due: none

feat(cozeloop-langchain): bump to 0.0.2
  packages/cozeloop-langchain/CHANGELOG.md
  packages/cozeloop-langchain/README.md
  packages/cozeloop-langchain/__tests__/__mock__/graph-agent.ts
  packages/cozeloop-langchain/package.json
  packages/cozeloop-langchain/src/otel/schema.ts
Due: @cozeloop/langchain

feat(cozeloop-ai): bump to 0.0.5
  packages/cozeloop-ai/CHANGELOG.md
  packages/cozeloop-ai/package.json
Due: @cozeloop/ai

ci: lark chat id
  .github/workflows/issue-sync.yaml
  .github/workflows/pr-sync.yaml
Due: none

[chore] [sdk] bump cozeloop-ai and cozeloop-langchain (#12)
  .github/workflows/issue-sync.yaml
  .github/workflows/pr-sync.yaml
  packages/cozeloop-ai/CHANGELOG.md
  packages/cozeloop-ai/package.json
  packages/cozeloop-langchain/CHANGELOG.md
  packages/cozeloop-langchain/README.md
  packages/cozeloop-langchain/__tests__/__mock__/graph-agent.ts
  packages/cozeloop-langchain/package.json
  packages/cozeloop-langchain/src/otel/schema.ts
Due: @cozeloop/ai, @cozeloop/langchain

doc: readme ci badge
  README.md
  README.zh-CN.md
Due: none

ci: remove workflow_dispatch
  .github/workflows/ci.yaml
  .github/workflows/semantic-pull-request.yaml
Due: none

fix(cozeloop-ai): upgrade form-data dep
  common/config/rush/pnpm-lock.yaml
  packages/cozeloop-ai/package.json
Due: @cozeloop/ai

[fix] [sdk] upgrade form-data version (#13)
  .github/workflows/ci.yaml
  .github/workflows/semantic-pull-request.yaml
  README.md
  README.zh-CN.md
  common/config/rush/pnpm-lock.yaml
  packages/cozeloop-ai/package.json
Due: @cozeloop/ai

feat(cozeloop-ai): prompt hub support jinja2 template type
  common/config/rush/pnpm-lock.yaml
  packages/cozeloop-ai/__tests__/__mock__/prompt-hub.ts
  packages/cozeloop-ai/__tests__/prompt/hub.test.ts
  packages/cozeloop-ai/package.json
  packages/cozeloop-ai/src/api/prompt/types.ts
  packages/cozeloop-ai/src/prompt/types.ts
  packages/cozeloop-ai/src/prompt/utils.ts
Due: @cozeloop/ai

test(cozeloop-ai): add prompt/utils and tracer/adapt test cases
  packages/cozeloop-ai/__tests__/prompt/utils.test.ts
  packages/cozeloop-ai/__tests__/tracer/adapt.test.ts
Due: @cozeloop/ai

fix(cozeloop-ai): nunjucks cjs in esm
  packages/cozeloop-ai/src/prompt/utils.ts
Due: @cozeloop/ai

ci(workflow): add permissions
  .github/workflows/ci.yaml
  .github/workflows/issue-sync.yaml
  .github/workflows/license-check.yaml
  .github/workflows/pr-sync.yaml
  .github/workflows/semantic-pull-request.yaml
Due: none

feat(example): add with-jinja
  examples/cozeloop-ai-node/src/index.ts
  examples/cozeloop-ai-node/src/prompt/hub.ts
  examples/cozeloop-ai-node/src/prompt/index.ts
  examples/cozeloop-ai-node/src/prompt/with-jinja.ts
Due: none

feat(cozeloop-ai): bump to 0.0.6
  packages/cozeloop-ai/CHANGELOG.md
  packages/cozeloop-ai/package.json
Due: @cozeloop/ai

fix: lic header
  packages/cozeloop-ai/__tests__/tracer/adapt.test.ts
Due: @cozeloop/ai

[feat] [sdk] bump @cozeloop/ai to 0.0.6 (#14)
  .github/workflows/ci.yaml
  .github/workflows/issue-sync.yaml
  .github/workflows/license-check.yaml
  .github/workflows/pr-sync.yaml
  .github/workflows/semantic-pull-request.yaml
  common/config/rush/pnpm-lock.yaml
  examples/cozeloop-ai-node/src/index.ts
  examples/cozeloop-ai-node/src/prompt/hub.ts
  examples/cozeloop-ai-node/src/prompt/index.ts
  examples/cozeloop-ai-node/src/prompt/with-jinja.ts
  packages/cozeloop-ai/CHANGELOG.md
  packages/cozeloop-ai/__tests__/__mock__/prompt-hub.ts
  packages/cozeloop-ai/__tests__/prompt/hub.test.ts
  packages/cozeloop-ai/__tests__/prompt/utils.test.ts
  packages/cozeloop-ai/__tests__/tracer/adapt.test.ts
  packages/cozeloop-ai/package.json
  packages/cozeloop-ai/src/api/prompt/types.ts
  packages/cozeloop-ai/src/prompt/types.ts
  packages/cozeloop-ai/src/prompt/utils.ts
Due: @cozeloop/ai

feat: upgrade zod
  common/config/rush/pnpm-lock.yaml
  packages/ci-tools/package.json
  packages/ci-tools/src/lark/schema.ts
  packages/cozeloop-langchain/__tests__/__mock__/custom-llm-graph.ts
  packages/cozeloop-langchain/__tests__/__mock__/graph-agent.ts
  packages/cozeloop-langchain/package.json
Due: @cozeloop/langchain

feat(cozeloop-ai): multi-part variables in prompt
  .gitignore
  packages/cozeloop-ai/__tests__/__mock__/prompt-hub.ts
  packages/cozeloop-ai/__tests__/prompt/hub.test.ts
  packages/cozeloop-ai/__tests__/prompt/trace.test.ts
  packages/cozeloop-ai/__tests__/tracer/adapt.test.ts
  packages/cozeloop-ai/src/api/prompt/types.ts
  packages/cozeloop-ai/src/prompt/hub.ts
  packages/cozeloop-ai/src/prompt/index.ts
  packages/cozeloop-ai/src/prompt/trace.ts
  packages/cozeloop-ai/src/prompt/types.ts
  packages/cozeloop-ai/src/prompt/utils.ts
  packages/cozeloop-ai/src/tracer/types/index.ts
  packages/cozeloop-ai/src/tracer/utils/adapt/index.ts
  packages/cozeloop-ai/src/tracer/utils/adapt/loop.ts
Due: @cozeloop/ai

feat(example): add with-multi-part
  examples/cozeloop-ai-node/src/prompt/index.ts
  examples/cozeloop-ai-node/src/prompt/with-multi-part.ts
Due: none

feat(cozeloop-ai): bump to 0.0.7
  packages/cozeloop-ai/CHANGELOG.md
  packages/cozeloop-ai/package.json
Due: @cozeloop/ai

feat(cozeloop-ai): increment ut
  packages/cozeloop-ai/__tests__/api/api-client.test.ts
  packages/cozeloop-ai/__tests__/api/http.test.ts
  packages/cozeloop-ai/__tests__/api/utils.test.ts
  packages/cozeloop-ai/src/api/api-client/utils.ts
Due: @cozeloop/ai

[feat] [sdk] bump @cozeloop/ai to 0.0.7 (#15)
  .gitignore
  common/config/rush/pnpm-lock.yaml
  examples/cozeloop-ai-node/src/prompt/index.ts
  examples/cozeloop-ai-node/src/prompt/with-multi-part.ts
  packages/ci-tools/package.json
  packages/ci-tools/src/lark/schema.ts
  packages/cozeloop-ai/CHANGELOG.md
  packages/cozeloop-ai/__tests__/__mock__/prompt-hub.ts
  packages/cozeloop-ai/__tests__/api/api-client.test.ts
  packages/cozeloop-ai/__tests__/api/http.test.ts
  packages/cozeloop-ai/__tests__/api/utils.test.ts
  packages/cozeloop-ai/__tests__/prompt/hub.test.ts
  packages/cozeloop-ai/__tests__/prompt/trace.test.ts
  packages/cozeloop-ai/__tests__/tracer/adapt.test.ts
  packages/cozeloop-ai/package.json
  packages/cozeloop-ai/src/api/api-client/utils.ts
  packages/cozeloop-ai/src/api/prompt/types.ts
  packages/cozeloop-ai/src/prompt/hub.ts
  packages/cozeloop-ai/src/prompt/index.ts
  packages/cozeloop-ai/src/prompt/trace.ts
  packages/cozeloop-ai/src/prompt/types.ts
  packages/cozeloop-ai/src/prompt/utils.ts
  packages/cozeloop-ai/src/tracer/types/index.ts
  packages/cozeloop-ai/src/tracer/utils/adapt/index.ts
  packages/cozeloop-ai/src/tracer/utils/adapt/loop.ts
  packages/cozeloop-langchain/__tests__/__mock__/custom-llm-graph.ts
  packages/cozeloop-langchain/__tests__/__mock__/graph-agent.ts
  packages/cozeloop-langchain/package.json
Due: @cozeloop/ai, @cozeloop/langchain

feat(cozeloop-ai): prompt hub with label
  packages/cozeloop-ai/__tests__/__mock__/prompt-hub.ts
  packages/cozeloop-ai/__tests__/prompt/hub.test.ts
  packages/cozeloop-ai/__tests__/prompt/trace.test.ts
  packages/cozeloop-ai/__tests__/prompt/utils.test.ts
  packages/cozeloop-ai/src/api/prompt/types.ts
  packages/cozeloop-ai/src/prompt/cache.ts
  packages/cozeloop-ai/src/prompt/hub.ts
  packages/cozeloop-ai/src/prompt/trace.ts
  packages/cozeloop-ai/src/prompt/utils.ts
Due: @cozeloop/ai

feat(example): add with-label
  examples/cozeloop-ai-node/src/api/api-client.ts
  examples/cozeloop-ai-node/src/auth/oauth-jwt.ts
  examples/cozeloop-ai-node/src/practice/travel-plan.ts
  examples/cozeloop-ai-node/src/prompt/index.ts
  examples/cozeloop-ai-node/src/prompt/with-label.ts
  examples/cozeloop-ai-node/src/tracer/index.ts
Due: none

feat(example): upgrade tsx
  common/config/rush/pnpm-lock.yaml
  examples/cozeloop-ai-node/package.json
Due: none

feat(cozeloop-ai): bump to 0.0.8
  packages/cozeloop-ai/CHANGELOG.md
  packages/cozeloop-ai/package.json
Due: @cozeloop/ai

[feat] [sdk] bump @cozeloop/ai to 0.0.8 (#16)
  common/config/rush/pnpm-lock.yaml
  examples/cozeloop-ai-node/package.json
  examples/cozeloop-ai-node/src/api/api-client.ts
  examples/cozeloop-ai-node/src/auth/oauth-jwt.ts
  examples/cozeloop-ai-node/src/practice/travel-plan.ts
  examples/cozeloop-ai-node/src/prompt/index.ts
  examples/cozeloop-ai-node/src/prompt/with-label.ts
  examples/cozeloop-ai-node/src/tracer/index.ts
  packages/cozeloop-ai/CHANGELOG.md
  packages/cozeloop-ai/__tests__/__mock__/prompt-hub.ts
  packages/cozeloop-ai/__tests__/prompt/hub.test.ts
  packages/cozeloop-ai/__tests__/prompt/trace.test.ts
  packages/cozeloop-ai/__tests__/prompt/utils.test.ts
  packages/cozeloop-ai/package.json
  packages/cozeloop-ai/src/api/prompt/types.ts
  packages/cozeloop-ai/src/prompt/cache.ts
  packages/cozeloop-ai/src/prompt/hub.ts
  packages/cozeloop-ai/src/prompt/trace.ts
  packages/cozeloop-ai/src/prompt/utils.ts
Due: @cozeloop/ai

feat(cozeloop-ai): update prompt types
  packages/cozeloop-ai/__tests__/prompt/hub.test.ts
  packages/cozeloop-ai/__tests__/prompt/trace.test.ts
  packages/cozeloop-ai/src/api/prompt/index.ts
  packages/cozeloop-ai/src/api/prompt/types.ts
  packages/cozeloop-ai/src/api/prompt/types/common.ts
  packages/cozeloop-ai/src/api/prompt/types/execute.ts
  packages/cozeloop-ai/src/api/prompt/types/prompt.ts
  packages/cozeloop-ai/src/prompt/trace.ts
  packages/cozeloop-ai/src/prompt/utils.ts
Due: @cozeloop/ai

feat(cozeloop-ai): prompt as a service
  cspell.json
  packages/cozeloop-ai/__tests__/__mock__/base-http.ts
  packages/cozeloop-ai/__tests__/__mock__/base-stream-event-error.txt
  packages/cozeloop-ai/__tests__/__mock__/base-stream-parse-error.txt
  packages/cozeloop-ai/__tests__/__mock__/base-stream.txt
  packages/cozeloop-ai/__tests__/__mock__/ptaas-stream.txt
  packages/cozeloop-ai/__tests__/__mock__/ptaas.ts
  packages/cozeloop-ai/__tests__/__mock__/utils.ts
  packages/cozeloop-ai/__tests__/api/api-client.test.ts
  packages/cozeloop-ai/__tests__/prompt/hub.test.ts
  packages/cozeloop-ai/__tests__/prompt/ptaas.test.ts
  packages/cozeloop-ai/src/api/api-client/utils.ts
  packages/cozeloop-ai/src/api/prompt/index.ts
  packages/cozeloop-ai/src/api/prompt/types/execute.ts
  packages/cozeloop-ai/src/global.d.ts
  packages/cozeloop-ai/src/index.ts
  packages/cozeloop-ai/src/prompt/converter.ts
  packages/cozeloop-ai/src/prompt/guard.ts
  packages/cozeloop-ai/src/prompt/hub.ts
  packages/cozeloop-ai/src/prompt/index.ts
  packages/cozeloop-ai/src/prompt/ptaas.ts
  packages/cozeloop-ai/src/prompt/types.ts
  packages/cozeloop-ai/vitest.config.ts
Due: @cozeloop/ai

feat(cozeloop-ai): add uts
  packages/cozeloop-ai/__tests__/auth/utils.test.ts
  packages/cozeloop-ai/__tests__/prompt/converter.test.ts
  packages/cozeloop-ai/__tests__/prompt/guard.test.ts
  packages/cozeloop-ai/__tests__/prompt/hub.test.ts
  packages/cozeloop-ai/src/api/prompt/index.ts
  packages/cozeloop-ai/src/prompt/converter.ts
  packages/cozeloop-ai/src/prompt/guard.ts
  packages/cozeloop-ai/src/prompt/ptaas.ts
  packages/cozeloop-ai/src/prompt/types.ts
Due: @cozeloop/ai

feat(example): add ptaas
  examples/cozeloop-ai-node/src/practice/travel-plan.ts
  examples/cozeloop-ai-node/src/prompt/index.ts
  examples/cozeloop-ai-node/src/prompt/ptaas.ts
Due: none

feat(cozeloop-ai): bump to 0.0.9
  packages/cozeloop-ai/CHANGELOG.md
  packages/cozeloop-ai/README.md
  packages/cozeloop-ai/README.zh-CN.md
  packages/cozeloop-ai/package.json
  packages/cozeloop-ai/tsup.config.ts
Due: @cozeloop/ai

feat(cozeloop-ai): missing COZELOOP_API_TOKEN in ut
  packages/cozeloop-ai/vitest.config.ts
Due: @cozeloop/ai

[feat] [sdk] ptaas (prompt as a service), bump to 0.0.9 (#17)
  cspell.json
  examples/cozeloop-ai-node/src/practice/travel-plan.ts
  examples/cozeloop-ai-node/src/prompt/index.ts
  examples/cozeloop-ai-node/src/prompt/ptaas.ts
  packages/cozeloop-ai/CHANGELOG.md
  packages/cozeloop-ai/README.md
  packages/cozeloop-ai/README.zh-CN.md
  packages/cozeloop-ai/__tests__/__mock__/base-http.ts
  packages/cozeloop-ai/__tests__/__mock__/base-stream-event-error.txt
  packages/cozeloop-ai/__tests__/__mock__/base-stream-parse-error.txt
  packages/cozeloop-ai/__tests__/__mock__/base-stream.txt
  packages/cozeloop-ai/__tests__/__mock__/ptaas-stream.txt
  packages/cozeloop-ai/__tests__/__mock__/ptaas.ts
  packages/cozeloop-ai/__tests__/__mock__/utils.ts
  packages/cozeloop-ai/__tests__/api/api-client.test.ts
  packages/cozeloop-ai/__tests__/auth/utils.test.ts
  packages/cozeloop-ai/__tests__/prompt/converter.test.ts
  packages/cozeloop-ai/__tests__/prompt/guard.test.ts
  packages/cozeloop-ai/__tests__/prompt/hub.test.ts
  packages/cozeloop-ai/__tests__/prompt/ptaas.test.ts
  packages/cozeloop-ai/__tests__/prompt/trace.test.ts
  packages/cozeloop-ai/package.json
  packages/cozeloop-ai/src/api/api-client/utils.ts
  packages/cozeloop-ai/src/api/prompt/index.ts
  packages/cozeloop-ai/src/api/prompt/types.ts
  packages/cozeloop-ai/src/api/prompt/types/common.ts
  packages/cozeloop-ai/src/api/prompt/types/execute.ts
  packages/cozeloop-ai/src/api/prompt/types/prompt.ts
  packages/cozeloop-ai/src/global.d.ts
  packages/cozeloop-ai/src/index.ts
  packages/cozeloop-ai/src/prompt/converter.ts
  packages/cozeloop-ai/src/prompt/guard.ts
  packages/cozeloop-ai/src/prompt/hub.ts
  packages/cozeloop-ai/src/prompt/index.ts
  packages/cozeloop-ai/src/prompt/ptaas.ts
  packages/cozeloop-ai/src/prompt/trace.ts
  packages/cozeloop-ai/src/prompt/types.ts
  packages/cozeloop-ai/src/prompt/utils.ts
  packages/cozeloop-ai/tsup.config.ts
Due: @cozeloop/ai

feat(ci-tools): add cr in sync-pr
  packages/ci-tools/package.json
  packages/ci-tools/src/index.ts
  packages/ci-tools/src/lark/sync-pr.ts
Due: none

feat(ci-tools): bump to 0.0.5
  packages/ci-tools/CHANGELOG.md
  packages/ci-tools/package.json
Due: none
